/* Aplica la fuente Poppins a todo el texto */
body {
    font-family: 'Poppins', sans-serif;
}

/* Estilos para el encabezado principal */
#main-header {
    text-align: center;
    font-size: 36px;
    margin-top: 20px;
    color: #FFF;
    background-color: #8EB2FF;
}

/* Estilos para el subtítulo */
#subtitle {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #000;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th {
    border: 1px solid black;
    text-align: center;
    height: 50px;
    width: 100px;
    font-size: 18px;
    position: relative;
    color: #8EB2FF;
}


td {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    font-size: 18px;
    width: 100px;
    height: 100px;
    box-sizing: border-box;
    vertical-align: middle;     /* Centra verticalmente el contenido */
}


.correct {
    background-color: #00F401;
}

.incorrect {
    background-color: #F40100;
}

/* Estilos para las cards */
.card {               /* Mantiene el ancho fijo */
    width: 100px;
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    font-size: 12px;
    font-weight: medium;
    word-wrap: break-word;
    white-space: normal;
    height: auto;
    box-sizing: border-box;
    margin: 0 auto;             /* Centra horizontalmente la card dentro de su celda */
    border-radius: 10px;
    color: #5466FF;

    display: flex;              /* Convierte el contenedor en un flex container */
    justify-content: center;        /* Centra verticalmente el contenido */
    align-items: center;            /* Centra horizontalmente el contenido */
}

.cards-container {
    display: flex;
    flex-wrap: wrap; /* Permite que las cards se envuelvan hacia abajo */
    justify-content: center;
    margin-top: 20px;
    width: 100%;
    height: auto; /* Cambia la altura a auto para que crezca con el contenido */
    max-width: 100%; /* Asegura que no se expanda más allá del ancho de la pantalla */
    overflow-x: hidden; /* Oculta cualquier desbordamiento horizontal */
    background-color: white;
    background-color: white !important;
    margin-bottom: 20px;
}

.cards-container > div {
    margin: 10px;
    width: 10%;
}
